<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/cards.css" />
    <link rel="stylesheet" href="css/game.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="Blackjack.Web.styles.css" />
    <HeadOutlet />
</head>
<body>
    <CascadingAuthenticationState>
        <Routes />
    </CascadingAuthenticationState>
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
