@page "/Error"
@using System.Diagnostics

<PageTitle>Error</PageTitle>

<div class="panel text-center" style="max-width: 600px; margin: 2rem auto;">
    <h1>🚫 An error occurred</h1>
    <p class="mt-2">Sorry, something went wrong. Please try again.</p>
    <a href="/" class="btn btn-primary mt-3">Return Home</a>
</div>
